.menu {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 14px;
  padding: 14px;
  background-color: #393E46;

  &_button {
    width: 80px;
    height: 32px;
    border-radius: 8px;
    border: none;
    color: #EEEEEE;
    background-color: #00ADB5;
    cursor: pointer;
    font-weight: 600;

    &:hover{
      background-color: #03969d;
    }
    &:active {
      background-color: #037f85;
    }
  }

  &_logout {
    background-color: #c02929;

    &:hover{
      background-color: #a12020;
    }
    &:active {
      background-color: #8c1b1b;
    }
  }
}